.main {
  display: flex;
  min-height: 100vh;
  padding-right: 10em;
  color: rgb(3, 3, 3);
  background-color: rgb(179, 129, 129);
  justify-content: flex-end;
  flex-wrap: wrap;
}

.content {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 600px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  color: black;
}

.header {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  font-size: x-large;
  background-color: rgb(255, 255, 255);
  position: fixed;
  text-align: center;
}

.header .header_navBar {
  width: 100%;
  /* width: 100%; */
  color: rgb(7, 7, 7);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button_list {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}

.button {
  border-radius: 30em;
  height: 4em;
  margin: 1em;
  flex: 1 1 20%;
  background-color: rgb(137, 185, 173);
}

@media screen and (max-width: 850px) {
  .main {
    justify-content: center;
    padding: 0;
    width: 100vw;
  }

  .header_navBar {
    width: 100vw;
    text-align: center;
  }

  .header {
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .header_title {
    width: 100vw;
    text-align: center;
  }

  .content {
    width: 100vw;
  }
}
